name: CtrlLine-CI

on:
  push:
    branches: [develop]
    paths: ['CtrlLine/**']
  pull_request:
    branches: [develop]
    paths: ['CtrlLine/**']

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test-sonar:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Cache Sonar
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      - name: Build & Analyze
        working-directory: CtrlLine
        run: .\gradlew.bat build sonar --parallel --configure-on-demand -x test

      - name: Run Tests
        working-directory: CtrlLine
        run: .\gradlew.bat test
