jwt:
  access-token:
    expired: ${ACCESS_TOKEN_EXPIRED}
    secret-key: ${ACCESS_TOKEN_SECRET}
  refresh-token:
    expired: ${REFRESH_TOKEN_EXPIRED}
    secret-key: ${REFRESH_TOKEN_SECRET}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS} # 운영 프론트 주소
  allowed-headers:
    - Authorization
    - Content-Type
    - Accept
  allowed-methods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 1
